.category-container1 {
    overflow: hidden;
    display: flex;
    gap: 20px;
    padding-top: 50px;
    padding-left: 128px;
    padding-right: 128px;
    width: 100%;
    height: auto;
}


/* Sidebar (หมวดหมู่และประเภท) */
.sidebar1 {
    width: 14rem;
    max-height: auto;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar1 h2 {
    font-size: 1.5rem;
    color: #333;
}

.divider1 {
    background-color: #fd6e2b;
    height: 2px;
    border: none;
    margin: 10px 0;
}

.category-list1 p {
    cursor: pointer;
    padding: 8px 0;
    transition: color 0.2s ease-in-out;
}

.category-list1 p:hover {
    color: #fd6e2b;
}

.on-category{
    color: #fd6e2b;
}




.search-bar1 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-input1 {
    flex: 1;
    padding: 10px;
    max-width: 780px;
    border: 1px solid #ccc;
    border-radius: 10px;

}

.iconsearch1 {
    font-size: 1.5rem;
    color: #fd6e2b;
    background: none;
    border: none;
    cursor: pointer;
}

/* Card Style */
.card-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 1190px;
    gap: 20px;
}

.card1 {
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.2s ease-in-out;
    text-align: center;
    width: 180px;
}

.card1:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image1 {
    width: 150px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 10px;
}

.card-title1 {
    text-align: start;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
    white-space: nowrap;
    /* ไม่ให้ข้อความขึ้นบรรทัดใหม่ */
    overflow: hidden;
    /* ซ่อนข้อความที่เกินจากพื้นที่ */
    text-overflow: ellipsis;
    /* เพิ่ม ... เมื่อข้อความเกิน */
    width: 150px;
    /* กำหนดความกว้างตามต้องการ */
}

.card-id1 {
    text-align: start;
    font-size: 14px;
    margin: 0px;
    color: #555;
}

.card-value1 {
    text-align: start;
    font-size: 20px;
    margin: 0px;
    color: #fd6e2b;
}

.card-location1{
    display: flex;
    align-items: center;
    text-align: start;
    font-size: 12px;
    margin: 0px;
    color: #555;
}

/* Pagination */
.pagination1 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}


.textscan1 {
    font-size: 14px;
    margin: 0px;
    text-align: center;
}