.header-ing {
  display: flex;
  font-size: 24px;
  color: #333;
  gap: 5px;
  
}
.product-table-ing {
  width: 100%;
  border-collapse: collapse;
 
}

.product-table-ing thead th:first-child {
  border-top-left-radius: 10px; /* มุมซ้ายบนโค้ง */
}

.product-table-ing thead th:last-child {
  border-top-right-radius: 10px; /* มุมขวาบนโค้ง */
}

.product-table-ing th, .product-table-ing td {
  padding: 15px;
  text-align: center;
}

.product-table-ing thead th {
  background-color: #4c2c7c;
  color: #fff;
}

.product-table-ing tbody tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.product-table-ing tbody tr:nth-child(even) {
  background-color: #ffffff;
}



.adjust-btn {
  background-color: #e0e0e0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 5px;
  border-radius: 5px;
}

.adjust-btn:hover {
  background-color: #d6d6d6;
}

.quantity {
  min-width: 30px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.quantity-control-ingv {
  display: flex;
  align-items: center;
  margin-left: 120px;
  
 
}

.quantity-control-ingv button {
  width: 30px; /* ขนาดปุ่ม */
  height: 30px; /* ขนาดปุ่ม */
  display: flex;
  align-items: center; /* จัดข้อความในปุ่มให้อยู่กึ่งกลางแนวตั้ง */
  justify-content: center; /* จัดข้อความในปุ่มให้อยู่กึ่งกลางแนวนอน */
  border: 1px solid #ccc; /* เส้นขอบ */
  border-radius: 5px; /* ขอบมน */
  background-color: #fff; /* สีพื้นหลัง */
  cursor: pointer; /* เปลี่ยนเป็น cursor มือเมื่อ hover */
}

.quantity-control-ingv span {
  width: 40px; /* ความกว้างของพื้นที่ตัวเลข */
  text-align: center; /* จัดข้อความให้อยู่กึ่งกลาง */
  font-size: 16px; /* ขนาดตัวอักษร */
}



/* Delete Button */
.delete-button-ingv {
  background-color: #ffffff;
  color: rgb(248, 0, 0);
  border: 1px solid #ff0000;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button-ingv:hover {
  background-color: #f52b2e;
  color: #ffffff;
}

/* Confirm Button */
.confirm-button-ing {
  background-color: #df774b;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.confirm-button-ing:hover {
  background-color: #e66b35;
  
}

.search-bar-ing {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 660px;
}

.search-input-ing {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;

}

.popup-overlay-ing {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

}

.popup-ing {
  background: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 430px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-checkmark {
  font-size: 50px;
  color: green;
}

.popup-content-ing h2 {
  margin: 20px 0;
  
}

.popup-button-ing {
  background: e66b35;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
