.nine0search{
    background-color: #f2f2e6;
    width: 100%;
    margin-bottom: 100px;
    height: auto;
}
.nine0header{
    text-align: center;
    font-size: 64px;
}
.nine0search-bar{
    font-size: 15px;
    margin-left: 128px ;
    margin-top: 30px;
}
.nine0iconsearch{
    scale: 1.5;
    color: white;
    border-radius: 20%;
    position: absolute;
    right: 0.7rem;
    top: 0.7em;
    padding: 2px;
    background-color: #473366;
}

.nine0scan{
    width: 90px;
    height: 100px;
    justify-items: center;
    align-content: center;
    transform: translate(790px,-85px);
}

.nine0iconscan{
    scale: 3;
    color: #FD6E2B;
    margin-bottom: 15px;
}


.nine0textscan{
    font-size: 12px;
}

.nine0content{
    border: 1px solid #D9D9D9;
    border-radius: 8px 8px 0px 0px;
    padding: 10px;
    padding-top: 15px;
    background-color: #473366;
    color: white;
    width: 1590px;
    height: auto;
    transform: translate(128px,-80px);
}

.nine0product-search{
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 0px 0px 8px 8px;
    padding: 10px;
    padding-top: 15px;
    width: 1590px;
    height: auto;
    transform: translate(128px,-80px);
}

.nine0card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nine0card{
    margin: 10px;
    width: 400px;
    cursor: pointer;
    border: none !important;
    bottom: 60px;
}
.nine0card-id-4 {
    bottom: 120px;
    width: 900px;
    right: 20px;
    border: none;
  }
  
  .nine0card-id-4 img {
    width: 900px;
    height: 300px;
  }
  
  /* Specific styles for id 5 */
  .nine0card-id-5 {
    width: 400px;
    left: 24px;
    bottom: 126px;
    
  }
  
  .nine0card-id-5 img {
    width: 400px;
    height: 300px;
  }
.nine0category-input{
    max-width: 200px;
    font-size: 16px;
    align-items: center;
    transform: translate(128px,-80px);
}
.nine0type-input{
    max-width: 200px;
    font-size: 16px;
    align-items: center;
    transform: translate(128px,-80px);
}

.nine0product-search {
    background-color: white;
    border: 1px solid #D9D9D9;
    border-radius: 0px 0px 8px 8px;
    padding: 10px;
    padding-top: 15px;
    top: 120px;
    width: 1590px;
    height: auto;
    transform: translate(128px, -80px);
    position: relative; /* ให้กล่องนี้เป็น parent container */
  }
  
  .nine0small-icon {
    position: absolute;
    top: 3px;
    left: 10px;
    width: 200px; /* ขนาดของรูปเล็ก */
    height: 100px; /* ขนาดของรูปเล็ก */
    object-fit: contain;
  }
